# macOS
.DS_Store

# VS Code extension build
*.vsix

# Build outputs
*.tsbuildinfo
/extracted
/build
/reextracted
/coverage
/packages/*/dist
/packages/*/extracted
/packages/*/build
/packages/*/reextracted
/packages/*/coverage

# Logs
/lerna-debug.log
yarn-error.log
.pnpm-debug.log
*.build.log

# Dependencies
node_modules/
**/node_modules/

# Rush
common/temp/
common/deploy/
common/scripts/install-run.js
common/scripts/install-run-rush.js
.rush/

# pnpm
pnpm-lock.yaml

# Old Yarn (no longer used)
.pnp.*
.yarn/*
yarn.lock

# Test data
qtagistudio-*
